#header{
	margin: 50px 0;
}
.head{
	float: left;
	 
}
#main{
	margin: 0 350px;
}
#header div:nth-child(3){
	float: right;
}
.clear{
	clear: both;
}
#topic_text{
	margin-left: 20px;
	font-size: 14px;
	font-family: Arial, sans-serif;
}
body{
	margin: 0px;
}
.cell{
	font-family: Arial, sans-serif;
	font-weight: 400;
	float: left;
	padding: 2px 4px;
	margin: 15px 0px;
}
.cell_a{
	color: #0f0f0f;
	text-decoration: none;
    font-size: 16px;
}
#navigation :nth-child(5) a{
	color: #7CFC00;
}
.cell_a:hover{
	color: #7CFC00;
}
#search{
	float: right;
	margin: 15px 0px;
}
#navigation{
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;

}
#footer_left{
	float: left;
	margin-left: 350px;

}
footer{
	color: white;
	height: 300px;
	font-family: Arial, sans-serif;
	font-size: 17px;
}
#footer_right{
	float: right;
	margin-right: 350px;  
}
#footer_left div:nth-child(3){
	margin-top: 170px;
}
#footer_right div:nth-child(4){
	margin-top: 130px;
}
#footer_left div{
	margin: 20px 0;
}
#footer_right div{
	margin: 20px 0;
}
.catalog{
	float: left;
}

.cell_of_cat{
	font-family: Arial, sans-serif;
    font-size: 17px;
	margin: 10px 0;
	font-weight: 100;
}
.catalog :first-child a{
	font-size: 23px;
}
#cat_nav:nth-child(2) {
    float: right;
}
#cat_nav{
    width: 100%;
}

.car2{
	width: 865px;
    float: right;
}
.car2:nth-child(2){
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.car2 p:first-child{
    font-size: 18px;
}
#ab_mag{
    width: 1000px;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 26px;
}
#contacts{
	font-family: Arial, sans-serif;
	font-size: 16px;
}
#contacts p:first-child{

	font-size: 30px;
}
#deliviry{
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 26px;
	margin-top: 20px;
}
#deliviry p:first-child{
	font-size: 30px;
}
.car2 div div input{
	width: 100%;
}
/*#car2>div{*/
	/*float: left;*/
	/*margin: 40px 40px;*/


/*}*/
.car2{

}
#output>div{
	float: left;
	margin: 40px 40px;
}
.disciption{
	font-size: 17px;
	margin-top: 40px;
	width: 400px;


}
.main_discr{
	width: 500px;
	margin-left: 100px;
	font-family: 'Slabo 27px', serif;
}
.title{
font-size: 13px;

}
.price{
	/*font-size: 30px;*/
	/*font-family: 'Slabo 27px', serif;*/
	/*padding: 60px;*/
	/*width: 230px;*/
	/*height: 200px;*/

}
.product{
	float: left;
	margin: 20px;
	width: 120px;

}
.display_of_product{
	margin-left: 30px;
	float: left;
}
#basket{
	font-size: 22px;
	color: #4cae4c;
}